html {
	background-color: black;
	color: white;
	font-family: sans-serif;
  background: url(img/bg.jpg);
  background-size: auto 100%;
  height: 100%;
}

#chiyofloat {
	background-image: url(img/bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	color:rgba(0,0,0,0);
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 100px;
  pointer-events: none;
}

#container {
  display: flex;
  flex-direction: column;
}

.section-picker {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 10px;
}

.section {
  text-decoration: none;
  text-underline-position: under;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  cursor: pointer;
}

.section:hover,
.section:focus {
  text-decoration: underline;
}

.selected {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
  font-weight: bold;
}

.section-container {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.section-container a {
  margin: 5px;
  position: relative;
  font-size: small;
}

.item-container {
  position: relative;
  width: 160px;
  height: 90px;
}

.item-container div {
  width: 100%;
  height: 100%;
  background-size: 100%;
	background-repeat: no-repeat;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: rgba(0,0,0,0);
  word-wrap: break-word;
}

.overlay:hover,
.overlay:focus {
  opacity: 1;
	background-color: rgba(0,0,0,0.5)
}

.section-container img {
  position: absolute;
  bottom: 2px;
  right: 2px;
  -webkit-filter: drop-shadow(1px 1px 1px #000 );
  filter: drop-shadow(1px 1px 1px #000);
}

.greyed-out {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.text {
  padding: 15px;
  line-height: 1.4;
}

.text a {
  text-decoration:none;
  color:white;
  background-color: #0000aa;
  padding: 2px;
  padding-right: 2px;
}

.text a.redlink {
  background-color: #aa0000;
}

.text a:hover,
.text a:focus {
  color:black;
  background-color: white;
}

#screenshots {
  display: none;
}

#screenshots div {
  background-size: 100% 100%;
  cursor: pointer;
}

#preview {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

#preview span {
  position: absolute;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

#preview span:hover,
#preview span:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#preview-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 80%;
}

#preview-content img {
  width: 100%;
  vertical-align: middle;
}

.close {
  top: 0px;
  right: 0px;
  padding: 16px;
}

.prev,
.next {
  top: 50%;
  width: auto;
  padding: 16px;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
}

.prev:hover,
.next:hover,
.prev:focus,
.next:focus {
  background-color: rgba(0, 0, 0, 0.8);
}

#comments-container {
  padding: 10px;
}

#comments-container  .textarea-wrapper {
  color: #000 !important;
}

#comments-container .reply:hover, .reply:focus {
  color: white !important; 
}

#gallery img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#game_container {
	text-align: center;
}

#preload {
	display: none;
}

.gp1{
	width: 75px; 
	height: 45px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
	color: #ffffff;
	background-color: transparent;
}

.gp2{
	width: 60px; 
	height: 60px;
	-moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
	color: #ffffff;
	background-color: transparent;
}

#notice {
  font-style: italic;
  font-weight: bold;
}

#notice div {
  padding: 10px;
  font-size: small;
}

#notice a {
  color: #fff;
}

.label {
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: white;
}

.label:hover {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.special-xmas {
  color: #ff3333;
}

.special-halloween {
  color: #ff8c00;
}

.special-valentine {
  color: #ff69b4;
}

.date {
  font-weight: normal;
  font-style: italic;
}

@media (orientation: portrait) {
  h1 {
    font-size: 3em;
  }
  
  #preview-content {
    width: 100%;
    max-width: 100%;
  }
  
  .section-picker {
    width: 100%;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  
  .section {
    font-size: 2em;
    display: flex;
    flex: 1;
  }
  
  .section-container {
    flex-direction: column;
    width: 100%;
  }

  .item-container {
    width: 95vw;
    height: calc(0.5 * 100vw);
  }
  
  .item-container img {
    transform: scale(2);
  }
  
  .section-container img {
    bottom: 2vw;
    right: 2vw;
  }
  
  .overlay {
    opacity: 1;
    background-color: rgba(0,0,0,0);
    word-wrap: break-word;
  }
  
  .overlay:hover,
  .overlay:focus {
	  background-color: rgba(0,0,0,0.5)
  }
  
  .label, .label:hover {
    font-size: 4vh;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
  }
  
  .close {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .close:hover, .close:focus {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .close, .prev, .next {
    padding: 32px;
    font-size: xx-large;
  }
  
  .isso-comment-footer {
    font-size: 2.5vh !important;
  }
  
  .isso-comment-footer svg {
    margin-left: .2em;
    top: -0.3em !important;
    transform: scale(2);
  }
}
