.mghead { font-weight: 700; font-size: 14px; text-transform: uppercase; text-align: left; font-family: "Open Sans",sans-serif; color: rgb(69, 85, 167); display: block; margin: 0px 0px 0px 5px; float: left; }
.mgheader { display: table !important; width: 100% !important; }
div.mg_addad94462 { text-align: right; opacity: 0.5; margin-right: 10px; }
div.mg_addad94462:hover { opacity: 1; }
div.mg_addad94462 a { color: rgb(0, 0, 0); font: 10px Myriad Pro; text-decoration: none; }
div.mg_addad94462 img { margin-bottom: -5px; border: 0px none; }
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('k88pr3goawt7btt32z01m1txra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('rjgo7rytmqivp7vzi-q5uvtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('u-wuoqret9fueobqw7jkrvtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzcuunirzcd_wq8dymifsw2a.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzoxreehhji4geuji9ob_ak4.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzbuojzskwg4xbwp_c_qqx0o.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzogdm0lzdjqr5-oayxsoefg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
#M207587Composite94462 .mgbox { padding: 0px !important; position: relative !important; text-align: center; vertical-align: top !important; margin: 0px auto; flex-flow: row wrap; line-height: 100% !important; transition: none 0s ease 0s  !important; box-sizing: border-box; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#M207587Composite94462 .mgheader a { bottom: 4px !important; right: 0px !important; position: absolute !important; margin-right: 4px !important; z-index: 1; }
#M207587Composite94462 span.mghead { display: none !important; }
#M207587Composite94462 div.mcimg { padding: 0px; text-align: center; }
#M207587Composite94462 img.mcimg { width: 100% !important; height: auto !important; box-sizing: border-box; }
#M207587Composite94462 .mctitle { text-align: center; }
#M207587Composite94462 .mctitle a { font-weight: bold; font-style: normal; text-decoration: none; color: rgb(51, 51, 51); font-family: "Open Sans",sans-serif; }
#M207587Composite94462 .mcdesc { display: none; text-align: center; }
#M207587Composite94462 .mcdesc a { font-weight: normal; font-size: 11px; line-height: 11px; font-style: normal; text-decoration: none; color: rgb(102, 102, 102); font-family: "Open Sans",sans-serif; }
#M207587Composite94462 .mcdomain { display: block; text-align: center; }
#M207587Composite94462 .mcdomain a { font-weight: normal; font-size: 10px; line-height: 10px; font-style: normal; text-decoration: none; color: rgb(187, 187, 187); font-family: "Open Sans",sans-serif; padding: 4px; display: block; overflow: hidden; }
#M207587Composite94462 .mgline { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; cursor: pointer; padding: 0px !important; box-sizing: border-box; display: flex; flex-direction: column; overflow-wrap: break-word; vertical-align: top; position: relative; }
#M207587Composite94462 .mgline:hover .mctitle a { color: rgb(69, 85, 167); text-decoration: underline !important; }
#M207587Composite94462 .mgline, #M207587Composite94462 .mgbox { min-width: 90px; }
.text-elements a { text-decoration: none; }
#M207587Composite94462 .mgarrowbox::after { left: 100%; top: 50%; content: " "; height: 0px; width: 0px; position: absolute; pointer-events: none; margin-top: -11px; }
#M207587Composite94462 .mctitle { line-height: 1 !important; }
#M207587Composite94462 .mcdesc { margin-top: 0px; margin-bottom: 2px; }
#M207587Composite94462 .mcdesc a { line-height: 1.5 !important; }
#M207587Composite94462 .mgline .image-with-text, #M207587Composite94462 .mgline .mgtobottom { width: 100% !important; margin: 0px auto; }
#M207587Composite94462 .mgline .image-with-text, #M207587Composite94462 .mgline .mgtobottom { max-width: 492px; }
#M207587Composite94462 .mcdomain { display: block; overflow: hidden; padding: 4px; }
#M207587Composite94462 .mcdomain a { display: block; padding: 5px 0px 2px; overflow: hidden; }
#M207587Composite94462 .mgbox { margin-bottom: 0px !important; }
#M207587Composite94462 .mghead { display: none !important; }
#M207587Composite94462 .mgbox { width: 718px; height: 90px; display: flex; }
#M207587Composite94462 .mgline { width: 48%; max-width: 48%; margin: 0px 1.5% 0px 2px; }
#M207587Composite94462 .mgline .text-elements { width: 66%; float: left; position: relative; }
#M207587Composite94462 div.mcimg { float: left; width: 34%; }
#M207587Composite94462 img.mcimg { max-width: 492px; max-height: 328px; }
#M207587Composite94462 .mctitle { margin-top: 2px; }
#M207587Composite94462 .mctitle a { font-size: 16px; line-height: 17px; }
#M207587Composite94462 .mghead { color: rgb(69, 85, 167) !important; }
