.theme_default a,
.theme_default a:visited {
  color: #34345c;
}
.theme_default .thread_form input[type=text],
.theme_default .thread_form input[type=password],
.theme_default .thread_form.uneditable-input {
  margin-bottom: 5px;
  margin-right: 10px;
}
.theme_default .clearfix:before {
  content: "";
  display: table;
}
.theme_default .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.theme_default .clearfix {
  zoom: 1;
}
.theme_default .tooltip-inner {
  max-width: 300px;
}
.theme_default a:hover {
  color: #dd0000;
}
.theme_default p {
  margin: 2px 0 7px;
}
.theme_default .shift-jis {
  font-family: 'IPAMonaPGothic', 'IPA モナー Pゴシック', Mona, 'MS PGothic', 'ＭＳ Ｐゴシック', Osaka, YOzFontAA97, sans-serif !important;
  font-size: 16px !important;
}
.theme_default ::-moz-selection {
  background: #fe57a1;
  color: #ffffff;
  text-shadow: none;
}
.theme_default ::selection {
  background: #fe57a1;
  color: #ffffff;
  text-shadow: none;
}
.theme_default .container-fluid {
  position: static;
  padding: 0;
  background: #eef8f0;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}
.theme_default .btn-inverse {
  background: #77947d;
  color: #ffffff;
}
.theme_default .dropdown-menu li > a:hover,
.theme_default .dropdown-menu .active > a,
.theme_default .dropdown-menu .active > a:hover {
  background: #6a836f;
}
.theme_default .btn-inverse:hover {
  background: #57645d;
  color: #ffffff;
}
.theme_default #footer {
  background: #6a836f;
  color: #f5f5f5;
  font-size: 11px;
  height: 28px;
  margin: 0;
  padding: 12px 15px 0;
  border: none;
}
.theme_default #footer .footer_text {
  margin: 8px 0;
  padding-bottom: 5px;
  line-height: normal;
}
.theme_default #footer a {
  color: inherit;
}
.theme_default #footer .btn-group {
  margin: -2px 5px 0;
}
.theme_default #footer .dropdown-menu {
  right: 0;
  left: inherit;
  color: #333333;
}
.theme_default #footer .dropdown-menu a:hover {
  color: #ffffff;
}
.theme_default #push {
  height: 28px;
  margin: 0;
  padding: 12px 15px 0;
  border: none;
}
.theme_default .navbar {
  position: static;
  margin-bottom: 0;
}
.theme_default .navbar .nav > li > a {
  color: #dddddd;
  padding: 11px 10px;
}
.theme_default .navbar .nav > li > a > i {
  font-size: 16px;
  display: inline !important;
  line-height: 8px;
}
.theme_default .navbar .nav > li > a:hover {
  color: #ffffff;
}
.theme_default .navbar .navbar-inner {
  background: #6a836f;
  box-shadow: none;
}
.theme_default .navbar .divider-vertical {
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 1px solid #333333;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.theme_default .navbar .brand {
  margin-left: -10px;
}
.theme_default .navbar-fixed-top .container {
  width: auto;
  padding: 0 30px;
}
.theme_default .letters {
  background: #6a836f;
  color: #dddddd;
  margin: 4px 0 -2px;
  padding: 0 30px;
}
.theme_default .letters a {
  color: inherit;
}
.theme_default .letters a:hover {
  color: #ffffff;
  text-decoration: none;
}
.theme_default .navbar-search .search-query {
  background: rgba(0, 0, 0, 0.3);
  color: #eeeeee;
  text-shadow: none;
  width: 390px;
}
.theme_default .navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
  text-shadow: none;
}
.theme_default .navbar-search .search-query::-moz-placeholder {
  color: #cccccc;
  text-shadow: none;
}
.theme_default .search-dropdown label {
  display: inline;
  margin-bottom: 0;
  color: #777777;
  font-size: 13px;
}
.theme_default .latest_search a {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.theme_default .latest_search a .options {
  font-size: 0.8em;
}
.theme_default .search_box {
  background: #ffffff;
  border: 1px solid #aaaaaa;
  display: none;
  position: absolute;
  padding: 0 10px;
  z-index: 100;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.theme_default .search_box .advanced_search {
  width: 420px;
  padding: 10px 5px;
}
.theme_default .search_box .advanced_search input:-moz-placeholder,
.theme_default .search_box .advanced_search textarea:-moz-placeholder {
  font-size: 10px;
  line-height: 13px;
}
.theme_default .search_box .advanced_search input:-ms-input-placeholder,
.theme_default .search_box .advanced_search textarea:-ms-input-placeholder {
  font-size: 10px;
  line-height: 13px;
}
.theme_default .search_box .advanced_search input::-webkit-input-placeholder,
.theme_default .search_box .advanced_search textarea::-webkit-input-placeholder {
  font-size: 10px;
  line-height: 13px;
}
.theme_default .search_box .advanced_search input[name=text] :-moz-placeholder,
.theme_default .search_box .advanced_search textarea[name=text] :-moz-placeholder {
  font-size: 13px;
  line-height: 1;
}
.theme_default .search_box .advanced_search input[name=text] :-ms-input-placeholder,
.theme_default .search_box .advanced_search textarea[name=text] :-ms-input-placeholder {
  font-size: 13px;
  line-height: 1;
}
.theme_default .search_box .advanced_search input[name=text] ::-webkit-input-placeholder,
.theme_default .search_box .advanced_search textarea[name=text] ::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 1;
}
.theme_default .search_box .advanced_search h4 {
  display: none;
}
.theme_default .search_box .advanced_search input[type=text] {
  width: 140px;
  font-size: 12px;
  height: 10px;
  line-height: 10px;
}
.theme_default .search_box .advanced_search input[type=date] {
  width: 140px;
  font-size: 12px;
  font-size: 10px;
  height: 10px;
  line-height: 10px;
  line-height: 1;
}
.theme_default .search_box .advanced_search input[name=text] {
  width: 390px;
  height: 18px;
  font-size: 13px;
  line-height: 13px;
  padding: 4px 14px;
}
.theme_default .search_box .advanced_search .btn {
  padding: 0px 4px;
  font-size: 11px;
}
.theme_default .search_box .advanced_search .checkboxes {
  border-left: 1px solid #cccccc;
  padding-left: 10px;
}
.theme_default .search_box .advanced_search .table {
  margin-bottom: 0px;
}
.theme_default .search_box .advanced_search .table td {
  padding: 8px 3px 3px;
  font-size: 12px;
}
.theme_default .search_box .advanced_search .table td label {
  font-size: 12px;
  line-height: 14px;
}
.theme_default .search_box .advanced_search .table td:first-of-type {
  display: none;
}
.theme_default .search_box .advanced_search .radixes {
  width: 245px;
}
.theme_default .search_box .advanced_search .radixes h5 {
  font-size: 12px;
  margin: 0;
  display: inline;
  margin-bottom: 3px;
  border-bottom: 1px solid #dddddd;
}
.theme_default .search_box .advanced_search .add-on {
  font-size: 11px;
  height: 10px;
  line-height: 10px;
  width: 70px;
}
.theme_default .advanced_search {
  width: 630px;
  margin: 0px auto;
}
.theme_default .advanced_search .column {
  display: inline-block;
  width: 100px;
  width: 245px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: top;
}
.theme_default .advanced_search .column.checkboxes {
  width: 170px;
}
.theme_default .advanced_search .buttons {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 5px;
}
.theme_default .advanced_search .add-on {
  width: 70px;
}
.theme_default .advanced_search .input-prepend {
  margin-bottom: 2px;
}
.theme_default .advanced_search input[name=text] {
  line-height: 23px;
  font-size: 20px;
  height: 28px;
  width: 608px;
  padding: 3px 10px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
.theme_default .advanced_search .comment_wrap {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 5px;
}
.theme_default .advanced_search .btn {
  margin-bottom: 5px;
}
.theme_default .advanced_search .table tr:first-of-type td {
  border-top: none;
}
.theme_default .advanced_search form {
  margin-bottom: 0px;
}
.theme_default .advanced_search .radixes {
  width: 330px;
}
.theme_default .advanced_search .radixes label {
  width: 75px;
  float: left;
}
.theme_default .advanced_search .radixes .btn {
  margin-bottom: 0;
}
.theme_default .advanced_search .radixes .btn.uncheck {
  display: none;
}
.theme_default .advanced_search .latest_searches {
  clear: left;
}
.theme_default .advanced_search .latest_searches h5 {
  font-size: 12px;
  display: inline;
  border-bottom: 1px solid #dddddd;
}
.theme_default .advanced_search .latest_searches ul {
  list-style: none;
  margin-left: 0;
  width: 238px;
  overflow: hidden;
}
.theme_default .advanced_search .latest_searches ul li {
  line-height: 18px;
  padding: 1px 2px 1px 4px;
}
.theme_default .advanced_search .latest_searches ul li a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}
.theme_default .advanced_search .latest_searches ul li:hover {
  background: #6a836f;
}
.theme_default .advanced_search .latest_searches ul li:hover a {
  color: #ffffff;
  text-decoration: none;
}
.theme_default #main .section_title {
  padding: 2px 10px 2px 35px;
  border-bottom: 3px solid #888888;
  font-weight: normal;
}
.theme_default #main .section_title a {
  text-decoration: underline;
}
.theme_default #main h3.section_title {
  font-size: 18px;
  margin-top: 0px;
}
.theme_default .btnr:hover {
  border: 1px solid #888888;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.theme_default nav.index_nav {
  max-width: 960px;
  padding: 0 10px 10px;
  margin: 40px auto;
}
.theme_default nav.index_nav > ul {
  list-style: none;
  margin: 10px 75px 10px 15px;
}
.theme_default nav.index_nav > ul h2 {
  font-size: 2.0em;
}
.theme_default nav.index_nav > ul > li > ul {
  list-style: none;
  margin-left: 0px;
  margin-top: 10px;
}
.theme_default nav.index_nav > ul > li > ul > li {
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 1.1em;
}
.theme_default nav.index_nav > ul > li > ul > li h3 {
  font-size: 1.5em;
  line-height: 30px;
}
.theme_default nav.index_nav > ul > li > ul > li .help {
  font-size: 0.7em;
  vertical-align: middle;
}
.theme_default article.thread {
  padding: 25px 0;
  margin: 0 15px;
  word-wrap: break-word;
  border-top: 1px solid #364041;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.theme_default article.thread .post_type_is_op,
.theme_default article.thread .post_show_board {
  font-weight: bold;
  color: #000000;
}
.theme_default article.thread > header {
  overflow: hidden;
  font-family: Verdana, Arial, sans-serif;
  margin-left: 23px;
}
.theme_default article.thread > .thread_image_box {
  float: left;
  margin: 0 20px 10px 15px;
  z-index: 5;
  text-align: center;
  color: #bfbfbf;
  text-shadow: 0px 1px 0px #ffffff;
  font-size: 0.8em;
  line-height: 150%;
}
.theme_default article.thread > .thread_image_box .thread_image.is_spoiler_image {
  opacity: 0.05;
}
.theme_default article.thread > .thread_image_box .thread_image.is_spoiler_image:hover {
  opacity: 1.0;
}
.theme_default article.thread > .thread_image_box > .post_file {
  max-width: 250px;
  margin: 0 auto;
}
.theme_default article.thread > .thread_image_box > .post_file_controls {
  position: relative;
  bottom: -1px;
  margin: 0 -5px 0 -4px;
}
.theme_default article.thread > .thread_image_box > .post_file_controls .btn.parent {
  line-height: 12px;
  font-size: 12px;
}
.theme_default article.thread > .thread_tools_bottom {
  margin-left: 30px;
  padding: 6px 0px;
}
.theme_default article.thread > .thread_tools_bottom .omitted {
  color: #364041;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 1px;
}
.theme_default article.thread .post_controls {
  margin-left: 4px;
}
.theme_default article.thread .post_type {
  margin-left: 4px;
}
.theme_default article.thread .post_type img {
  vertical-align: middle;
}
.theme_default article.thread h2.post_title {
  font-weight: bold;
  color: #0f0c5d;
  padding: 0;
  margin: 0;
  font-size: 1em;
  display: inline;
  line-height: inherit;
}
.theme_default article.thread .post_poster_data a {
  text-decoration: underline;
}
.theme_default article.thread .post_author {
  font-weight: bold;
  color: #117743;
}
.theme_default article.thread .post_tripcode {
  font-weight: normal;
  color: #117743;
}
.theme_default article.thread .poster_hash {
  font-family: Courier New, Courier, monospace;
}
.theme_default article.thread .post_level {
  font-weight: bold;
}
.theme_default article.thread .post_level.post_level_moderator {
  color: #800080;
}
.theme_default article.thread .post_level.post_level_administrator {
  color: #ff0000;
}
.theme_default article.thread .post_level.post_level_developer {
  color: #0000f0;
}
.theme_default article.thread .backlink_list {
  font-size: 11px;
  color: #888888;
  display: none;
}
.theme_default article.thread .report_reason {
  background: #cfdffe;
  border: 1px solid #00248e;
  padding: 2px 4px;
  margin: 5px 10px 0 3px;
  overflow: hidden;
}
.theme_default article.thread .ip_reporter {
  font-size: 85%;
}
.theme_default article.thread > .report_reason {
  margin-bottom: 10px;
  max-width: 600px;
}
.theme_default article.thread > .text {
  padding: 10px 10px 10px 30px;
  word-wrap: break-word;
}
.theme_default article.thread > aside > br {
  height: 0px;
  line-height: 0px;
}
.theme_default article.thread article.post {
  margin: 0px 5px 3px 16px;
  word-break: break-word;
}
.theme_default article.thread article.stub {
  margin: 0px 5px 3px 16px;
}
.theme_default article.thread .greentext {
  color: #789922;
}
.theme_default article.thread .spoiler .greentext {
  color: black;
}
.theme_default article.thread .spoiler:hover .greentext {
  color: #789922;
}
.theme_default article.thread .backlink.op {
  border-bottom: 1px dotted #000000;
}
.theme_default article.thread .thread_form_wrap {
  border: 2px solid #364041;
  float: left;
  margin: 20px;
  padding-bottom: 20px;
}
.theme_default article.thread .thread_form {
  width: auto;
}
.theme_default article.thread:nth-of-type(1) {
  border-top: none;
}
.theme_default article .post_mod_controls {
  display: none;
}
.theme_default .post_wrapper {
  display: table-cell;
  margin: 2px 10px 2px 20px;
  margin-right: 0px;
  padding: 0 0 10px 10px;
  background: #d6f0da;
  border-bottom: 1px solid #cccccc;
}
.theme_default .post_wrapper > .text {
  padding: 7px 10px 0px 15px;
  word-wrap: break-word;
}
.theme_default .post_wrapper > .thread_image_box {
  float: left;
  text-align: center;
  color: #888888;
  margin: 0 10px 0 4px;
  font-size: 0.8em;
  line-height: 130%;
  padding-top: 5px;
  vertical-align: bottom;
}
.theme_default .post_wrapper > .thread_image_box .post_image.is_spoiler_image {
  opacity: 0.2;
}
.theme_default .post_wrapper > .thread_image_box .post_image.is_spoiler_image:hover {
  opacity: 1.0;
}
.theme_default .post .post_data {
  padding: 0 6px 0 0;
}
.theme_default .post .post_file {
  word-wrap: break-word;
  display: block;
  overflow: hidden;
  font-size: 11px;
  color: #888888;
  line-height: 18px;
  margin-top: 3px;
  margin-right: 5px;
  margin-bottom: -4px;
}
.theme_default .post .post_file .btnr {
  font-size: 10px;
}
.theme_default .post header {
  overflow: hidden;
  padding-top: 5px;
  display: -moz-inline-stack;
  font-family: Verdana, Arial, sans-serif;
}
.theme_default .post.post_ghost .post_wrapper {
  border-left: 5px solid #3a533f;
}
.theme_default .post.highlight .post_wrapper {
  background: #eedbea;
}
.theme_default .backlink {
  display: inline-block;
}
.theme_default #backlink {
  box-shadow: 0px 0px 3px #333333;
  -moz-box-shadow: 0px 0px 3px #333333;
  -webkit-box-shadow: 0px 0px 3px #333333;
}
.theme_default #backlink .post {
  margin: 0;
  max-width: none;
}
.theme_default .thread_image_box .spoiler_box {
  width: 150px;
  height: 150px;
  background: #333333;
  overflow: hidden;
  background-image: url("");
  margin: 0 auto;
}
.theme_default .thread_image_box .spoiler_box .spoiler_box_text {
  display: block;
  color: #ffffff;
  background: red;
  padding: 8px 0;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30%;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  text-transform: uppercase;
  text-shadow: none;
}
.theme_default .thread_image_box .spoiler_box .spoiler_box_text .spoiler_box_text_help {
  display: block;
  font-size: 10px;
  line-height: 10px;
}
.theme_default .thread_form_wrap {
  background: #d6f0da;
  border-bottom: 2px solid #364041;
  padding: 8px 20px 5px 20px;
}
.theme_default .thread_form {
  position: relative;
}
.theme_default .thread_form form {
  margin-bottom: 0px;
}
.theme_default .thread_form .comment_label {
  position: absolute;
  left: 560px;
  top: 11px;
  min-width: 70px;
  min-width: 16px;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  display: inline-block;
  font-weight: 400;
  height: 18px;
  line-height: 18px;
  padding: 4px 5px;
  text-align: center;
  text-shadow: 0px 1px 0px #ffffff;
  vertical-align: middle;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
}
.theme_default .thread_form select {
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  width: 218px;
  height: 26px;
  background: #ffffff;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.theme_default .thread_form input[type=file] {
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  width: 218px;
  height: 26px;
  background: #ffffff;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 28px;
}
.theme_default .thread_form label {
  min-width: 85px;
  color: #888888;
}
.theme_default .thread_form .rules {
  font-size: 11px;
  line-height: 10px;
  padding: 0 10px;
}
.theme_default .thread_form .rules p {
  margin-bottom: 0;
}
.theme_default .thread_form .rules li {
  line-height: 14px;
}
.theme_default ::-webkit-file-upload-button {
  margin-left: 2px;
  position: relative;
  bottom: 1px;
}
.theme_default #reply_ajax_notices {
  padding: 8px;
  margin-top: 10px;
  margin-left: 20px;
  display: none;
  clear: both;
}
.theme_default #reply_ajax_notices a {
  text-decoration: underline;
}
.theme_default #reply_ajax_notices.error {
  background: #ffc5c5;
  border: 1px solid red;
  margin-left: 0px;
  display: block;
}
.theme_default #reply_ajax_notices.success {
  background: #dffad9;
  border: 1px solid #61b84d;
  margin-left: 0px;
  display: block;
}
.theme_default #thread_o_matic > article.thread {
  border: none;
  width: 24%;
  margin: 5px 0.5%;
  float: left;
  font-size: 11px;
  line-height: 13px;
}
.theme_default #thread_o_matic > article.thread > header {
  text-align: center;
  margin: 0;
}
.theme_default #thread_o_matic > article.thread > header .post_controls {
  display: block;
  margin-top: 3px;
  margin-bottom: 2px;
}
.theme_default #thread_o_matic > article.thread > .thread_image_box {
  float: none;
  line-height: inherit;
  max-width: none;
  margin-top: 6px;
}
.theme_default #thread_o_matic > article.thread > .thread_image_box > .post_file_controls {
  display: block;
  margin-top: 3px;
}
.theme_default #thread_o_matic > article.thread > .thread_image_box .thread_image {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 0px 2px #888888;
}
.theme_default #thread_o_matic > article.thread .thread_tools_bottom {
  text-align: center;
  margin: 0;
}
.theme_default #thread_o_matic > article.thread:nth-of-type(n + 5) {
  border-top: 2px solid #6a836f;
}
.theme_default .modal-label {
  float: left;
  margin-left: 10px;
  font-weight: bold;
}
.theme_default .modal-post {
  min-width: 500px;
  max-width: 500px;
}
.theme_default .modal-field {
  float: left;
  margin-left: 10px;
  padding-top: 10px;
  font-weight: bold;
}
.theme_default .modal-comment {
  min-width: 500px;
  max-width: 500px;
  min-height: 100px;
}
.theme_default .modal-password {
  min-width: 500px;
  max-width: 500px;
}
.theme_default .js_hook_realtimethread {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 10px 10px 20px;
  border-top: 1px solid #aaaaaa;
  padding: 5px;
  clear: both;
}
.theme_default .js_hook_realtimethread a.btn {
  position: relative;
  bottom: 1px;
}
.theme_default .loading {
  display: none;
  width: 100%;
  text-align: center;
  margin: auto;
}
.theme_default .spoiler {
  color: #000000;
  background: #000000;
}
.theme_default .spoiler:hover {
  color: #ffffff;
  color: #eeeeee;
}
.theme_default .overline {
  text-decoration: overline;
}
.theme_default .strikethrough {
  text-decoration: line-through;
}
.theme_default .underline {
  text-decoration: underline;
}
.theme_default .expert {
  text-decoration: overline underline;
}
.theme_default .banned {
  color: #ff0000;
  font-weight: bold;
}
.theme_default .is_spam {
  display: none;
}
.theme_default .paginate {
  padding: 2px 10px 2px 35px;
  height: 36px;
  background: #ddebdd;
}
.theme_default .paginate a,
.theme_default .paginate span {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border-right: 1px solid;
  border-right-color: #dddddd;
  border-right-color: rgba(0, 0, 0, 0.15);
  *border-right-color: #dddddd;
  text-decoration: none;
}
.theme_default .paginate a:hover,
.theme_default .paginate .active a {
  background-color: #c7eefe;
}
.theme_default .paginate ul {
  background: #ffffff;
  float: left;
  margin: 0;
  border: 1px solid #dddddd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.theme_default .paginate li {
  display: inline;
}
.theme_default .paginate .disabled a,
.theme_default .paginate .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.theme_default .paginate .next a {
  border: 0;
}
.theme_default .btn-toggle-post {
  background-color: #f5f5f5;
  border: 1px solid #bbbbbb;
  display: inline-block;
  padding: 2px 6px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  vertical-align: middle;
}
.theme_default div[class*="stub_doc_id_"] {
  display: none;
}
.theme_default .thread.stub {
  padding: 25px 0;
  margin: 0 15px;
  border-top: 1px solid #364041;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.theme_default .post.stub {
  margin: 0px 5px 3px 16px;
}
.theme_default .stub {
  display: none;
}
.theme_default .text-small {
  font-size: 1em !important;
}
input[type="radio"],
input[type="checkbox"] {
  margin-top: 0;
}
.theme_default.midnight a,
.theme_default.midnight a:visited {
  color: #81a2be;
}
.theme_default.midnight .thread_form textarea,
.theme_default.midnight .thread_form input[type=text],
.theme_default.midnight .thread_form input[type=password],
.theme_default.midnight .thread_form.uneditable-input {
  background-color: #1d1f21;
  border: 1px solid #494949;
  color: #e6e6e6;
}
.theme_default.midnight a:hover {
  color: #5f89ac;
}
.theme_default.midnight ::-moz-selection {
  background-color: #757575 !important;
}
.theme_default.midnight ::selection {
  background-color: #757575 !important;
}
.theme_default.midnight .container {
  background: #000000;
  color: #c5c8c6;
}
.theme_default.midnight .container-fluid {
  background: #1d1f21;
  color: #c5c8c6;
}
.theme_default.midnight .btn-group {
  color: #000000;
}
.theme_default.midnight .dropdown-menu a {
  color: black !important;
}
.theme_default.midnight .btn-inverse {
  background: #4c5057;
}
.theme_default.midnight #footer {
  background: #000000;
  color: #c5c8c6;
}
.theme_default.midnight #footer a {
  color: #c5c8c6;
}
.theme_default.midnight #footer ul a {
  color: #000000;
}
.theme_default.midnight .navbar .nav > li > a {
  color: #c5c8c6;
}
.theme_default.midnight .letters {
  background: #000000;
  color: #c5c8c6;
}
.theme_default.midnight .letters a:visited {
  color: #c5c8c6 !important;
}
.theme_default.midnight .navbar-search .search-query {
  border-bottom-color: rgba(126, 126, 126, 0.3);
  border-right-color: rgba(255, 255, 255, 0.15);
}
.theme_default.midnight .search_box {
  color: #000000;
}
.theme_default.midnight #main .section_title {
  border-color: #000000;
}
.theme_default.midnight article.thread .post_type_is_op,
.theme_default.midnight article.thread .post_show_board {
  color: #7e3434;
}
.theme_default.midnight article.thread > .thread_image_box {
  color: #c5c8c6;
  text-shadow: none;
}
.theme_default.midnight article.thread > .thread_tools_bottom .omitted {
  color: #c5c8c6;
}
.theme_default.midnight article.thread .post_type img {
  background-color: #c5c8c6;
}
.theme_default.midnight article.thread h2.post_title {
  color: #b294bb;
}
.theme_default.midnight article.thread .post_author {
  color: #eeeeee;
}
.theme_default.midnight article.thread .post_tripcode {
  color: #eeeeee;
}
.theme_default.midnight article.thread .report_reason {
  background: #203357;
  border: 1px solid #17399b;
}
.theme_default.midnight article.thread > .text {
  color: #c5c8c6;
}
.theme_default.midnight article.thread .greentext {
  color: #b5bd68;
}
.theme_default.midnight article.thread .spoiler .greentext {
  color: #999999;
}
.theme_default.midnight article.thread .spoiler:hover .greentext {
  color: #8deb8c;
}
.theme_default.midnight article.thread .backlink.op {
  border-bottom: 1px dotted #81a2be;
}
.theme_default.midnight .post_wrapper {
  background: #282a2e;
  border-bottom: 1px solid #282a2e;
  border-radius: 5px;
}
.theme_default.midnight .post .post_data {
  color: #c5c8c6;
}
.theme_default.midnight .post.post_ghost .post_wrapper {
  border-left: 5px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.theme_default.midnight .post.highlight .post_wrapper {
  background: #1d1d21;
  border: 1px solid #111111;
}
.theme_default.midnight #backlink {
  box-shadow: 0px 0px 3px #818181;
  -moz-box-shadow: 0px 0px 3px #818181;
  -webkit-box-shadow: 0px 0px 3px #818181;
}
.theme_default.midnight .thread_form_wrap {
  background: #282a2e;
  border-color: #000000;
}
.theme_default.midnight .thread_form select,
.theme_default.midnight .thread_form input[type=file] {
  background-color: #1d1f21;
  border: 1px solid #494949;
  color: #e6e6e6;
}
.theme_default.midnight .thread_form .input-append .add-on,
.theme_default.midnight .thread_form .input-prepend .add-on {
  border: 1px solid #494949;
  text-shadow: none;
}
.theme_default.midnight .thread_form label {
  background-color: #1d1f21;
  color: #e6e6e6;
}
.theme_default.midnight .thread_form .rules {
  color: #c5c8c6;
}
.theme_default.midnight #reply_ajax_notices.error {
  background: #5f2627;
  border: 1px solid #8d3a31;
  margin-left: 0px;
  display: block;
}
.theme_default.midnight #reply_ajax_notices.success {
  background: #484a4e;
  border-color: #121315;
  color: #c5c8c6;
}
.theme_default.midnight #thread_o_matic > article.thread {
  border-color: #000000;
}
.theme_default.midnight #thread_o_matic > article.thread:nth-of-type(n + 5) {
  border-top: 2px solid #222222;
}
.theme_default.midnight .js_hook_realtimethread {
  color: #c5c8c6;
  border-color: #000000;
}
.theme_default.midnight .spoiler {
  color: #e6e6e6;
  background: #e6e6e6;
}
.theme_default.midnight .spoiler:hover {
  color: #000000;
}
.theme_default.midnight .paginate {
  background: #3e3e3e;
}
.theme_default.midnight .paginate a {
  color: #000000;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body.theme_default {
  height: 100%;
  background: #6a836f;
  color: #364041;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}
body.theme_default.midnight {
  background: #222222;
  color: #c5c8c6;
}
a.visited {
  color: inherit;
  color: #c5c8c6;
  color: #000000;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-bottom-color: #eeeeee;
}
.theme_default .btnr,
.btnr:visited {
  padding: 0px 3px 1px;
  background: transparent;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
  margin: 0 2px;
  color: #333333;
  font-size: 11px;
  line-height: 11px;
  position: relative;
  top: -1px;
}
.theme_default.midnight .table-striped tbody tr:nth-child(2n+1) td,
.table-striped tbody tr:nth-child(2n+1) th {
  background-color: #282a2e;
}

code.hljs {
  display: inline;
}
